<!DOCTYPE html>
<html>
	<head>
		<title>{{block "title" .}}{{end}}{{.SiteName}}</title>
		<link rel="stylesheet" href="{{.SiteRoot}}assets/stylesheet.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<nav>
			<ul id="navbar-navigation">
				<li id="logo" class="navbar-item">
					<a href="{{.SiteRoot}}" class="text"></a>
				</li>
				<li class="navbar-item">
					<a href="{{.SiteRoot}}" class="text">Home</a>
				</li>
				<li class="navbar-item">
					<a href="{{.SiteRoot}}discover" class="text">Discover</a>
				</li>
				<li class="navbar-item">
					<a href="{{.SiteRoot}}about" class="text">About</a>
				</li>
			</ul>
			<ul id="navbar-profile">
				{{if .UserLoggedIn}}
					<li class="navbar-item">
						<span class="text">{{.UserName}}</span>
						<img src="{{.UserAvatar}}" class="avatar small-avatar">
					</li>
				{{else}}
					<li class="navbar-item">
						<span class="text">Log In or Sign Up</span>
					</li>
				{{end}}
			</ul>
		</nav>
		<main>
			{{block "content" .}}{{end}}
		</main>
	</body>
</html>
