{{define "title"}}{{.ProfileName}} - {{end}}
{{define "content"}}
	<div class="header-image-container">
		<img src="{{.ProfileHeader}}" class="header-image">
	</div>
	<div class="sidebar left-sidebar">
		<div class="padded track-info">
			<div class="padded-bottom avatar-container track-info-metadata">
				<img src="{{.ProfileAvatar}}" class="avatar">
				<div class="text track-info-content">
					<h1 class="big-text">{{.ProfileName}}</h1>
				</div>
			</div>
			<div class="text pre-lines track-info-description">{{.ProfileDescription}}</div>
		</div>
	</div>
	<div class="padded main-content">
		<ul class="content-tabs padded-bottom">
			<li class="content-tabs-item selected">
				<a href="{{.ProfileHref}}" class="text">Tracks</a>
			</li>
			<li class="content-tabs-item">
				<a href="{{.ProfileHref}}?view=albums" class="text">Albums</a>
			</li>
		</ul>
		<ul class="profile-content">
			{{range .ProfileTracks}}
				<li>
					<a href="{{.Href}}"><img src="{{.Cover}}" class="cover-art" loading="lazy"></a>
				</li>
			{{end}}
		</ul>
	</div>
	</div>
	<div class="padded sidebar right-sidebar">
		<h1 class="text">Recommended</h1>
		<ul class="recommended">
			{{range .Recommended}}
				<li>
					<a href="{{.Href}}"><img src="{{.Cover}}" class="cover-art recommended-cover-art" loading="lazy"></a>
				</li>
			{{end}}
		</ul>
	</div>
{{end}}
