{{define "title"}}{{.TrackTitle}} by {{.TrackAuthorName}} - {{end}}
{{define "content"}}
	<div class="sidebar left-sidebar">
		<video autoplay controls src="{{.TrackAudio}}" poster="{{.TrackCover}}" class="player"></video>
		<ul class="interactions">
			<li>
				<a href="#" class="interactions-button like"></a>
			</li>
			<li>
				<a href="#" class="interactions-button reshare"></a>
			</li>
			<li>
				<a href="#" class="interactions-button add"></a>
			</li>
			<li>
				<a href="#" class="interactions-button menu"></a>
			</li>
		</ul>
		<div class="padded track-info">
			<div class="padded-bottom avatar-container track-info-metadata">
				<a href="{{.TrackAuthorHref}}"><img src="{{.TrackAuthorAvatar}}" class="avatar"></a>
				<div class="text track-info-content">
					<h1 class="big-text">{{.TrackTitle}}</h1>
					<h2>by <a href="{{.TrackAuthorHref}}">{{.TrackAuthorName}}</a></h2>
				</div>
			</div>
			<div class="text pre-lines track-info-description">{{.TrackDescription}}</div>
		</div>
	</div>
	<div class="padded main-content">
		{{if .UserLoggedIn}}
			<div class="avatar-container comment-area">
				<img src="{{.UserAvatar}}" class="avatar">
				<textarea class="text comment-box" placeholder="Write a comment..."></textarea>
			</div>
			<div class="comment-area-submit">
				<button class="text">Post</button>
			</div>
			<h1 class="padded-top text big-text">{{len .Comments}} comments</h1>
		{{else}}
			<h1 class="text big-text">{{len .Comments}} comments</h1>
		{{end}}
		<div class="comment-list">
			{{range .Comments}}
				<div class="padded-top avatar-container comment">
					<a href="{{.Href}}"><img src="{{.Avatar}}" class="avatar" loading="lazy"></a>
					<div class="comment-content">
						<h2 class="comment-author">
							<a href="{{.Href}}" class="text comment-author-name">{{.Name}}</a>
							<span class="transparent text comment-author-time">{{.Date}}</span>
						</h2>
						<div class="text pre-lines comment-text">{{.Content}}</div>
					</div>
				</div>
			{{end}}
		</div>
	</div>
	<div class="padded sidebar right-sidebar">
		<h1 class="text">More from {{.TrackAuthorName}}</h1>
		<ul class="recommended">
			{{range .MoreFrom}}
				<li>
					<a href="{{.Href}}"><img src="{{.Cover}}" class="cover-art recommended-cover-art" loading="lazy"></a>
				</li>
			{{end}}
		</ul>
		<h1 class="padded-top text">Recommended</h1>
		<ul class="recommended">
			{{range .Recommended}}
				<li>
					<a href="{{.Href}}"><img src="{{.Cover}}" class="cover-art recommended-cover-art"></a>
				</li>
			{{end}}
		</ul>
	</div>
{{end}}
