:root {
	--main: #9e42c0;
	--placeholder: #d9d9d9;
	--header-background: #000000;
	--page-background: #ffffff;
	--page-text: #404040;
	--sidebar-background: var(--placeholder);
	--sidebar-text: var(--page-text);
	--textarea-background: var(--placeholder);
	--textarea-text: var(--page-text);
	--navbar-background: #212121;
	--navbar-text: #e2e2e2;
	--interactions-background: var(--navbar-background);
	--interactions-text: var(--navbar-text);
	--button-background: var(--main);
	--button-text: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--placeholder: #3a3a3a;
		--page-background: #2b2b2b;
		--page-text: var(--navbar-text);
	}
}

* {
	all: unset;
	box-sizing: border-box;
	overflow-wrap: anywhere;
}

head {
	display: none;
}

body {
	background: var(--page-background);
	color: var(--page-text);
	font-family: "Roboto", sans-serif;
	line-height: 0;
}

a {
	color: var(--main);
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

button {
	background: var(--button-background);
	color: var(--button-text);
	box-shadow: 0 0 0 1000rem rgba(0, 0, 0, 0) inset;
	cursor: pointer;
	padding: 0.5rem 1.5rem;
	transition: box-shadow 0.25s;
}

button:hover {
	box-shadow: 0 0 0 1000rem rgba(255, 255, 255, 0.25) inset;
}

button:active {
	box-shadow: 0 0 0 1000rem rgba(0, 0, 0, 0.25) inset;
}

textarea {
	background: var(--textarea-background);
	color: var(--textarea-text);
	white-space: pre;
	display: block;
	width: 100%;
	height: 8em;
	padding: 0.75rem;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0) inset;
	transition: box-shadow 0.25s;
}

textarea:focus {
	box-shadow: 0 0 0 1px var(--main) inset;
}

div, ul, h1, h2, h3, h4, h5, h6 {
	display: block;
}

li {
	display: inline-block;
}

img {
	background: var(--placeholder);
}

nav {
	background: var(--navbar-background);
	color: var(--navbar-text);
	width: 100%;
	height: 4rem;
	position: fixed;
	top: 0;
	z-index: 1000;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

nav .selected {
	box-shadow: 0 -0.375rem 0 0 var(--main) inset;
}

nav ul, nav li, nav a, .interactions li, .interactions a {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	color: inherit;
	text-decoration: inherit !important;
}

nav .avatar {
	margin-left: 1rem;
}

#navbar-navigation a, #navbar-profile li, .interactions a {
	cursor: pointer;
	align-items: center;
	transition: background-color 0.25s;
}

#navbar-navigation a, #navbar-profile li {
	padding: 0 1rem;
}

.interactions a {
	width: 100%;
	height: 100%;
}

#navbar-navigation a:hover, #navbar-profile li:hover, .interactions a:hover {
	background: rgba(255, 255, 255, 0.125);
}

#navbar-navigation a:active, #navbar-profile li:active, .interactions a:active {
	background: rgba(0, 0, 0, 0.125);
}

#logo {
	background: var(--main);
}

#logo a {
	width: 4rem;
	height: 4rem;
}

main {
	min-height: 100vh;
	margin-top: 4rem;
	display: grid;
	grid-template-columns: auto;
}

@media screen and (min-width: 800px) {
	main {
		grid-template-columns: calc(100% / 3) auto;
	}
	
	.profile-content {
		grid-template-columns: 1fr 1fr 1fr 1fr !important;
		grid-gap: 1.5rem !important;
	}
	
	.header-image-container {
		grid-column-end: span 2;
	}
}

@media screen and (min-width: 1200px) {
	main {
		grid-template-columns: 25% auto 25%;
	}
	
	.header-image-container {
		grid-column-end: span 3;
	}
}

@media screen and (min-width: 1600px) {
	main {
		grid-template-columns: 20% auto 20%;
	}
	
	.main-content {
		margin-left: 10%;
		margin-right: 10%;
	}
}

::placeholder, .transparent {
	opacity: 0.5;
}

::selection {
	background: var(--button-background);
	color: var(--button-text)
}

.center {
	text-align: center;
}

.text {
	line-height: 1.5;
}

.pre-lines {
	white-space: pre-line;
}

.padded {
	padding: 1.75rem;
}

.padded-top {
	padding-top: 1.75rem;
}

.padded-right {
	padding-right: 1.75rem;
}

.padded-bottom {
	padding-bottom: 1.75rem;
}

.padded-left {
	padding-left: 1.75rem;
}

.avatar-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.avatar-container>:first-child {
	margin-right: 1.5rem;
}

.big-text {
	font-size: 150%;
}

.track-info-metadata {
	align-items: center;
}

.header-image-container {
	display: flex;
	background: var(--header-background);
	height: 30vh;
	min-height: 15vw;
	perspective: 1px;
	transform-style: preserve-3d;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

.header-image {
	width: 100%;
	transform: translateZ(-1px) scale(2);
}

.sidebar {
	background: var(--sidebar-background);
	color: var(--sidebar-text);
}

.right-sidebar h1 {
	padding-bottom: 0.5rem;
}

.avatar {
	width: 4rem;
	border-radius: 50%;
}

.small-avatar {
	width: 3rem;
}

.player {
	width: 100%;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
	.main-content {
		grid-row-end: span 2;
	}
}

.interactions {
	background: var(--interactions-background);
	color: var(--interactions-text);
	height: 3rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.comment-area-submit {
	text-align: right;
	margin-top: 1rem;
}

.comment-author {
	display: flex;
	padding-bottom: 0.25rem;
}

.comment-author-time {
	padding-left: 0.75rem;
}

.recommended {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1.25rem;
}

.profile-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1.25rem;
}

.cover-art {
	width: 100%;
	filter: grayscale(0.25);
	opacity: 0.75;
	transition: filter 0.5s, opacity 0.5s;
}

.cover-art:hover {
	filter: grayscale(0);
	opacity: 1;
}

.content-tabs {
	display: flex;
}

.content-tabs .selected {
	box-shadow: 0 -0.25rem 0 0 var(--main) inset;
}

.content-tabs-item a {
	display: inline-block;
	padding: 0.75rem 2rem;
	text-decoration: inherit !important;
}

.content-tabs-item:not(.selected) a {
	color: inherit !important;
	transition: box-shadow 0.25s;
}

.content-tabs-item:not(.selected) a:hover {
	box-shadow: 0 -0.25rem 0 0 rgba(255, 255, 255, 0.125) inset;
}
